<h1>New Comment!</h1>

<form action="<%= comments_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="comment_content">
    Content
    <br>
    <textarea name="comment[content]" id="comment_content" value="<%= @comment.content %>"></textarea>
  </label>

  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">
  <br>

  <input type="submit" value="Submit">
</form>
