<ul>
    <% parent.each do |c1| %>
      <li>
        (<%= c1.votes.sum('value') %>) <%= link_to c1.content, comment_url(c1) %>
      </li>
      <%= render 'comment', parent: @comments_by_parent_id[c1.id] %>
    <% end %>
</ul>